@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@mixin text-info($text-size, $text-weight, $text-line-height) {
  font-size: $text-size;
  font-weight: $text-weight;
  line-height: $text-line-height;
}

$black-100: rgba(32, 32, 32, 1);
$black-80: rgba(75, 75, 75, 1);
$black-60: rgba(117, 117, 117, 1);
$black-40: rgba(160, 160, 160, 1);
$black-20: rgba(202, 202, 202, 1);
$black-10: rgba(224, 224, 224, 1);
$black-05: rgba(235, 235, 235, 1);
$white-100: rgba(255, 255, 255, 1);
$bg: rgba(245, 245, 245, 1);
$link: rgba(82, 110, 211, 1);


* {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
}


